<div id="<%= dom_id event_set %>">
  <p>
    <strong>Event:</strong>
    <%= event_set.event_id %>
  </p>

  <p>
    <strong>Artist set:</strong>
    <%= event_set.artist_set_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= event_set.position %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= event_set.active %>
  </p>

</div>
