<!-- filepath: app/views/events/_event.html.erb -->
<div id="<%= dom_id event %>">
  <p>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= event.artist&.name || "Nenhum artist associado" %>
  </p>

  <% if event.artist_set %>
    <p>
      <strong>Set:</strong>
      <%= event.artist_set.set_list_name %> 
      (<%= event.artist_set.songs.count %> música<%= 's' if event.artist_set.songs.count != 1 %>)
    </p>
  <% else %>
    <p>
      <strong>Set:</strong>
      <span style="color: gray;">Todas as músicas disponíveis</span>
    </p>
  <% end %>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>
</div>