<!-- app/views/events/show.html.erb -->
<h2><%= @event.description %></h2>

<%= form_with url: event_path(@event), method: :get, local: true do %>
  <%= label_tag :query, "Busca Música" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Filter" %>
<% end %>

<br>
<%= link_to "Ver a Fila de Músicas", event_event_song_queues_path(@event) %>
<br>


<table>
  <thead>
    <tr>
      <th>Song Name</th>
      <th>Artist</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% Song.all.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.artist %></td>
        <td>
          <%= form_with url: event_event_song_queues_path(@event), method: :post, local: true do %>
            <%= hidden_field_tag :song_id, song.id %>
            <%= text_field_tag :performer, nil, placeholder: "Nome do CANTOR", required: true %>
            <%= submit_tag "Entre o Nome e adicione na fila" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if notice %>
  <p style="color: green;"><%= notice %></p>
<% end %>
