<!-- app/views/events/show.html.erb -->
<p style="color: green"><%= notice %></p>

<div style="zoom: 75%;">

  <%= render @event %>

  <div>
    <%= link_to "Back to events", events_path, 
        role: "button" %>
    <%= link_to "Edit this event", edit_event_path(@event), 
        role: "button" %>
  </div>

<hr>

  <div>
    <%= button_to "Destroy this event", @event, method: :delete, 
        style: "background-color: #dc3545; color: white; padding: 8px 16px; border: none; border-radius: 4px; cursor: pointer;",
        confirm: "Tem certeza que deseja deletar este evento?" %>
  </div>

</div>