<div style="zoom: 75%;">
  <h2><%= @event.description %></h2>

  <div>
    <%= link_to "Voltar para Eventos", 
        root_path(artist_name: @artist&.name), 
        role: "button" %>
  </div>

  <br>

  <!-- Debug para verificar se @event.artist existe -->
  <% if @event.artist %>
    <strong>Artista:</strong> <%= @event.artist.name %>
  <% else %>
    <strong style="color: red;">Nenhum artist associado a este evento</strong>
  <% end %>

  <%= form_with url: event_event_song_queues_path(@event), method: :get, local: true do %>
    <%= submit_tag ">>> Ver FILA de Artistas <<<", class: "button" %>
  <% end %>
  <br>

  <% if notice %>
    <p style="color: green;"><%= notice %></p>
    
    <% if @event.artist.present? %>
      <p style="text-align: center; font-size: 32px; color: white; margin: 15px 0;">
        📱 <strong><%= @event.artist.social_message %></strong>
      </p>
      
      <div style="text-align: center;">
        <% if @event.artist.link1.present? %>
          <%= link_to @event.artist.link1_text, @event.artist.link1, 
              target: "_blank", role: "button" %>
        <% end %>
        
        <% if @event.artist.link2.present? %>
          <%= link_to @event.artist.link2_text, @event.artist.link2, 
              target: "_blank", role: "button" %>
        <% end %>
      </div>
    <% end %>
        
    <br>
  <% end %>

  <%= form_with url: showpublico_event_path(@event), method: :get, local: true do %>
    <%= label_tag :query, "Busca Música" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Filtrar Músicas" %>
  <% end %>

  <br>

  <br>

  <table>
    <thead>
      <tr>
        <th>Música</th>
        <th>Letra</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr>
          <td><%= song.name %></td>
          <td>
            <% if song.lyrics.present? %>
              <%= link_to "Ver Letra", lyrics_song_path(song), class: "button" %>
            <% else %>
              <span style="color: gray; font-style: italic;">Sem Letra</span>
            <% end %>
          </td>
          <td>
            <%= form_with url: event_event_song_queues_path(@event), method: :post, local: true do %>
              <%= hidden_field_tag :song_id, song.id %>
              <%= text_field_tag :performer, nil, placeholder: "Digite seu nome Artístico", required: true %>
              <%= submit_tag "Clique aqui para entrar na FILA" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>