<!-- app/views/events/show.html.erb -->
<h2><%= @event.description %></h2>

<%= form_with url: event_path(@event), method: :get, local: true do %>
  <%= label_tag :query, "Busca Música" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Filtrar Músicas" %>
<% end %>

<br>
<%= link_to ">>> VER FILA <<<", event_event_song_queues_path(@event) %>
<br>
<% if notice %>
  <p style="color: green;"><%= notice %></p>
<% end %>
<br>

<table>
  <thead>
    <tr>
      <th>Música</th>
      <th>Banda</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.artist %></td>
        <td>
          <%= form_with url: event_event_song_queues_path(@event), method: :post, local: true do %>
            <%= hidden_field_tag :song_id, song.id %>
            <%= text_field_tag :performer, nil, placeholder: "Digite seu nome de Artista", required: true %>
            <%= submit_tag "Clique aqui para entrar na FILA" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
