<div style="zoom: 75%;">
  <h2><%= @event.description %></h2>

  <%= form_with url: event_event_song_queues_path(@event), method: :get, local: true do %>
    <%= submit_tag ">>> Ver FILA de Artistas <<<", class: "button" %>
  <% end %>
  <br>

  <% if notice %>
    <p style="color: green;"><%= notice %></p>
    <%= link_to "Clique e participe das discussões Bandaoke em nosso Grupo do WhatsApp", "https://chat.whatsapp.com/CCt1zLfHMTp9tvnkr94ePt", target: "_blank" %>
    <br>
    <%= link_to "Clique aqui e apoie seguindo a Rock.Flowerz no INSTAGRAM", "https://www.instagram.com/rock.flowerz", target: "_blank" %>
    <br> 
    <br>
  <% end %>

  <%= form_with url: showpublico_event_path(@event), method: :get, local: true do %>
    <%= label_tag :query, "Busca Música" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Filtrar Músicas" %>
  <% end %>

  <br>

  <br>

  <table>
    <thead>
      <tr>
        <th>Música</th>
        <th>Letra</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr>
          <td><%= song.name %></td>
          <td>
            <%= link_to "Ver Letra", lyrics_song_path(song), class: "button" %>
          </td>
          <td>
            <%= form_with url: event_event_song_queues_path(@event), method: :post, local: true do %>
              <%= hidden_field_tag :song_id, song.id %>
              <%= text_field_tag :performer, nil, placeholder: "Digite seu nome Artístico", required: true %>
              <%= submit_tag "Clique aqui para entrar na FILA" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>